# Ignore the git directory and associated files
.git
.gitignore
.gitkeep

# Project files
*.db
*.egg
*.egg-info
*.lbug
*.lock
*.log
*.py[oc]
.coverage
.env
.hatch/
.mypy_cache/
.venv/
dist/
node_modules/
venv/
