name: Test Suite

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  run:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12", "3.13", "3.14"]

    services:
      mongodb:
        image: mongodb/mongodb-community-server:latest
        ports:
          - 27017:27017

    steps:
    - uses: actions/checkout@v6

    - name: Setup uv
      uses: https://github.com/astral-sh/setup-uv@v6
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}

    - name: Lint
      run: |
        uv run ruff check

    - name: Typecheck
      run: |
        uv run mypy .

    - name: Tests
      run: |
        uv run pytest --cov
